body {
    background-color: rgb(201, 175, 173);
    background-image: url('');
    background-position: left bottom;
    background-repeat: no-repeat;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: auto;
    margin: 100px auto;
}

/* Applied to everything inside the grid i.e. the tiles
*/
#grid > * {
    background-color: whitesmoke;
}

img {
    width: 100px;
    height: auto;
}